@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
html {
    /* background-color: gray IMPOR !important; */
    /* why doesnt this work? */
    width: 100%;
}

body {
    background-color: rgb(192, 192, 192);
    height: 100%;

}
#flex-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#body-copy{
    background-color: white;
    border-radius: 25px;
}
#return{
    border: 2px solid #F72585;
    color: black;
    background-color: #F72585;
    font-weight: bolder;
    width: 75px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
}
#return:hover{
    border-color: #7209B7;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #7209B7;
}

#text-block{
    border: 1px solid black;
    border-radius: 15px;
    width: 80%
}

.wrapper{
    display: flex;

}
.bg-gradient {
    height: 210px;
    background-color: #7209B7;
    background-image: linear-gradient(to bottom right, #F72585, #7209B7);
    border-bottom: 10px solid black;

    /* the basic bg at the top of the page on every page */
}

.bg-gradient-alt {
    height: 210px;
    background-color: #7209B7;
    background-image: linear-gradient(to top right, #F72585, #4CC9F0);
    border-bottom: 10px solid rgb(63, 63, 63);

    /* the basic bg at the top of the page on every page , repeated , with different colors*/
}

.logo-text {
    font-size: 72px;
}

#rep {
    color: #3c0779;
}

#hub {
    color: #F72585;
}

#dot-io {
    color: #3c0779;
}

 .search-box {
    font-size: 50px;
    border: 2px solid black;
    display: inline;
    margin: auto;
    width: 700px;
    height: 50px;
} 
/* Uncomment the above to override the default bootstrap search bar look. display and margin are still unncessary as long as the bootsrap class form-control is present. */

.search-button {
    display: inline;
    margin: auto;
}

.error-bg-lr {
    height: 820px;
    background-color: #7209B7;
    background-image: linear-gradient(to bottom right, #4CC9F0, #3A0CA3);
    border-bottom: 10px solid black;
    border-top: 10px solid black;

    /* this is the text box, along with a bg gradient for the "error" message html page (error.html)  */
}

.error-bg-md {
    height: 520px;
    background-color: #7209B7;
    background-image: linear-gradient(to bottom right, #4CC9F0, #F72585);
    border-bottom: 10px solid black;
    border-top: 10px solid black;
}

.error-bg-sm {
    height: 220px;
    background-color: #7209B7;
    background-image: linear-gradient(to bottom right, #7209B7, #4361EE);
    border-bottom: 10px solid burlywood;
    border-top: 10px solid burlywood;
}

.error-bg-xtra {
    height: 1220px;
    background-color: #7209B7;
    background-image: linear-gradient(to bottom right, #4CC9F0, #3A0CA3);
    border-bottom: 10px solid grey;
    border-top: 10px solid grey;

    /* FUTURE; add more than 2 color gradient here */

}

/* in the future a function can be added to randomize these presentation to the user on the ("/error.html"). It'd randomly choose one of the four above classes for the sole container class on the ("/error.html") page. */
/* ^^^ random idea for the future when I learn more JS */

error-text {
    color: white;
    /* font-size: xx-large; This is actually handled by built in bootsrap commands. */
}

@media (max-width: 800px) {
    html{
        width: 100%;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .search-box{
        width: 100%;
    }
}
/* fixes search bar and header going not fully across screen, and alignments
/* DO NOT TOUCH OR THE STYLES WILL BREAK